//*mixin button explore and order

@mixin btn-pink {

    background: linear-gradient($color-secondary, $color-primary);
    color: white;
    padding: 14px;
    border-radius: 50px;
    box-shadow: 0px 1px 4px $color-hover;
    display: block;
    margin: 10%;
    
}


//*mixin hover function button 

@mixin hover-function ($color:$color-primary){

    background-color: lighten($color,35);
}

//*mixin card 

@mixin card-accueil{

    display:block;
    background-color:white;
    border-radius:20px;
    box-shadow:0px 2px 12px $color-hover;
    margin:16px;
    position:relative;
}

//*mixin new

@mixin new-dish {

    position:absolute;
    top:5%;
    right:5%;
    background-color:$color-tertiary;
    color:#2E8B57;
    border:1px solid $color-tertiary;
    font-weight:600;
    width:30%;
    height:25px;
    text-align:center;
    font-size:15px;
    box-shadow:0px 2px 4px;
    border-radius:2px;
    padding-top:2px;

}

//*mixin dish

@mixin menus-items{

    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;  
    margin:8px;
    border-radius:20px;
    padding-left:10px;
    padding-right:10px;
    position: relative;
    overflow:hidden;
    box-shadow: 0px 2px 12px $color-gray;      
}

//*mixin check

@mixin menus-check{

    position:absolute;
    right:0;
    top:0;
    background-color: $color-tertiary;
    width:60px;
    height:100%;
    display:flex;
    -webkit-box-pack:center;
    justify-content: center;
    -webkit-box-align:center;
    align-items:center;
    color:white;
    border-radius:0px 20px 20px 0px;  
    margin-right:-60px;
      
}