.localisation {

    background-color: $color-background;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        padding-right: 15px;

        +p {

            font-weight: bold;
        }

    }

}
