//*Section localisation

.localisation {

    background-color: #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    box-shadow: inset 0px 2px 3px rgb(192, 192, 192);
    height: 40px;

    i {
        padding-right: 10px;
        color: #303030;

    }

}

.search input {

    font-weight: bold;
    color: #303030;
    font-size: 16px;
    border: none;
    background-color: #EFEFEF;
    text-align: center;
    width: 150px;

}

//*Section présentation

.presentation {

    text-align: center;
    background-color: $color-background;
    padding: 15px 20px 30px 20px;

    &__title {

        margin: 10%;
    }

    &__description {

        color: #5A5E6B;
        margin: 5%;
        padding-bottom: 20px;
        font-size: 18px;
    }

    &__btn {

        @include btn-pink;
        transition-duration: 250ms;

        &:hover {

            box-shadow: 0px 3px 16px $color-hover;
            filter: brightness(1.05);

        }
    }

}

//*Section fonctions

.function {

    padding-top: 30px;
    padding-bottom: 30px;

    h2 {

        padding-left: 20px;
        padding-bottom: 5px;
    }

}

//*Boutons fonctions

.function-btn {

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $color-background;
    border-radius: 20px;
    margin: 16px;
    padding: 6px;
    box-shadow: 0px 5px 4px #D3D3D3;
    padding-right: 18%;
    padding-left: 8%;
    max-width: 95%;
    height: 60px;
    transition-duration: 250ms;

    &:hover {

        @include hover-function;


        i {
            color: $color-primary;
        }

    }

    >i {

        margin-right: 7px;
        color: grey;
    }

    &__number {

        background-color: $color-primary;
        color: white;
        border-radius: 10px;
        width: 20px;
        height: 20px;
        padding: 2px 8px 10px 6px;
        font-size: 14px;
        position: absolute;
        left: 8px;
    }

    &__text {

        font-weight: bold;
        width: 178px;

    }

}

//*section restaurants 

.restaurants {

    background-color: $color-background;
    padding: 2px;

    h2 {

        padding-left: 20px;
        padding-bottom: 5px;
        padding-top: 30px;
    }

}

//*Cards a

.menus {

    @include card-accueil;
}

//*Images et Nouveautés

.menus-card {


    margin: 0;

    &__img {

        width: 100%;
        height: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
        max-height: 170px;

    }

    &__new {

        @include new-dish;

    }

}

//*Descriptions des plats

.menus-card__info {

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menus-card__text {

    margin-left: 10px;
    padding-bottom: 15px;

    &--name {

        margin: 0;
        padding-top: 10px;
        font-size: 18px;
    }

    &--dish {

        margin: 0;
        padding-top: 5px;
    }

}

//*Animations coeurs

.menus-card__heart {

    position: relative;
    bottom: 40px;
    font-size: 25px;
    cursor: pointer;


    i:nth-child(1) {

        position: absolute;
        right: 8%;
        bottom: 10%;
        font-size: 30px;
        z-index: 1;

    }

    i:nth-child(2) {

        position: absolute;
        right: 8%;
        bottom: 10%;
        opacity: 0;
        transition: opacity 1000ms ease-in-out;
        background: linear-gradient($color-primary, $color-secondary);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
        font-size: 30px;
        z-index: 2;

        &:hover,
        &:active {

            opacity: 1;

        }

    }
}

//*Breakpoints

@media screen and (min-width:$breakpoints-tablet) {


    .media-query {

        display: flex;

    }

    .presentation {

        background-color: white;
        width: 50%;

        &__title {

            font-size: 26px;
        }
    }

    .function {

        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .function-btn__number {

        position: relative;
        left: -18%;
    }


    .menus-restaurants {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px;

    }

    .menus {

        width: 40%;
    }

    .menus-card__heart {

        position: relative;
        right: 10%;
        top: -12px;
    }

}

@media screen and (min-width:$breakpoints-desktop) {

    body {

        max-width: 1440px;
        margin: auto;

    }

    .presentation__btn{

        font-size:20px;
    }

    .restaurants h2{

        font-size: 26px;
        margin-bottom: 0;
    }

    .menus{

        height:250px;
               
    }

    .menus-card__img{

        max-height:180px;
    }
    
    .function-btn{

        &__number {

            position: relative;
            left: -22%;           
        }
    
    }

}
