
$logo-title-font:"Shrikhand",Verdana;
$text-font:"Roboto",sans-serif;


* {
    box-sizing: border-box;
}

body{

    font-family:$text-font;
    margin:0;
}

.name > h1{

    font-family:$logo-title-font;
}


a {
    text-decoration:none;
    color:black;
}

.loading-spinner p{

font-family:$logo-title-font, sans-serif;

}