
//*text font 

$logo-title-font:"Shrikhand",Verdana;
$text-font:"Roboto",sans-serif;


* {
    box-sizing: border-box;
}

body{

    font-family:$text-font;
    margin:0;
}

//*title font

.name > h1{

    font-family:$logo-title-font;
}

//* style links

a {
    text-decoration:none;
    color:black;
}

